# Python
*.pyc
*.pyo
__pycache__/

# Environment
.env

# Logs
*.log

# Docker
docker-compose.override.yml
docker-compose.*.yml
*.pid

# Splunk
splunk/var/
splunk/etc/passwd

# Zeek
zeek/logs/*
!zeek/logs/.keep

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Tests
.coverage
.cache/
.tox/

# Miscellaneous
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.iml
*.bak
*.tmp